@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

html:has([aria-modal="true"]),
body:has([aria-modal="true"]) {
  overflow: hidden;
}

body:has([aria-modal="true"]) main {
  overflow: hidden;
}
